<div class="container chalkboard-bg">
	<br />
	<%= link_to "New Item", new_team_item_path(@team), :class => 'btn btn-success' %>
	<div class="row">
		<div class="col-sm-4">
			<h1 class="fancytext text-center">
				To Do
			</h1>
			<hr />
			<% @team.items.to_do.each do |item| %>
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">
							<%= link_to item.title, team_item_path(1, item) %>
						</h3>
					</div>
					<% unless item.description.empty? %>
						<div class="panel-body">
							<p><%= item.description %></p>
						</div>
					<% end %>

					<div class="panel-footer">
						<%= link_to 'Edit', edit_team_item_path(1, item) %> |
						<%= link_to 'Delete', team_item_path(1, item), method: :delete, data: { confirm: 'Are you sure?' } %>
						<span class="pull-right">
							<% unless item.position == 'to_do' %>
								<%= link_to move_b_url(team_id: 1, id: item.id) do %>
								    <i class="glyphicon glyphicon-arrow-left"></i>
								<% end %>
							<% end %>
							<% unless item.position == 'done' %>
								<%= link_to move_f_url(team_id: 1, id: item.id) do %>
								    <i class="glyphicon glyphicon-arrow-right"></i>
								<% end %>
							<% end %>
						</span>
					</div>
				</div>
			<% end %>
		</div>
		<div class="col-sm-4">
			<h1 class="fancytext text-center">
				Busy
			</h1>
			<hr />
			<% @team.items.busy.each do |item| %>
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">
							<%= link_to item.title, team_item_path(1, item) %>
						</h3>
					</div>
					<% unless item.description.empty? %>
						<div class="panel-body">
							<p><%= item.description %></p>
						</div>
					<% end %>

					<div class="panel-footer">
						<%= link_to 'Edit', edit_team_item_path(1, item) %> |
						<%= link_to 'Delete', team_item_path(1, item), method: :delete, data: { confirm: 'Are you sure?' } %>
						<span class="pull-right">
							<% unless item.position == 'to_do' %>
								<%= link_to move_b_url(team_id: 1, id: item.id) do %>
								    <i class="glyphicon glyphicon-arrow-left"></i>
								<% end %>
							<% end %>
							<% unless item.position == 'done' %>
								<%= link_to move_f_url(team_id: 1, id: item.id) do %>
								    <i class="glyphicon glyphicon-arrow-right"></i>
								<% end %>
							<% end %>
						</span>
					</div>
				</div>
			<% end %>
		</div>
		<div class="col-sm-4">
			<h1 class="fancytext text-center">
				Done
			</h1>
			<hr />
			<% @team.items.done.each do |item| %>
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">
							<%= link_to item.title, team_item_path(1, item) %>
						</h3>
					</div>
					<% unless item.description.empty? %>
						<div class="panel-body">
							<p><%= item.description %></p>
						</div>
					<% end %>

					<div class="panel-footer">
						<%= link_to 'Edit', edit_team_item_path(1, item) %> |
						<%= link_to 'Delete', team_item_path(1, item), method: :delete, data: { confirm: 'Are you sure?' } %>
						<span class="pull-right">
							<% unless item.position == 'to_do' %>
								<%= link_to move_b_url(team_id: 1, id: item.id) do %>
								    <i class="glyphicon glyphicon-arrow-left"></i>
								<% end %>
							<% end %>
							<% unless item.position == 'done' %>
								<%= link_to move_f_url(team_id: 1, id: item.id) do %>
								    <i class="glyphicon glyphicon-arrow-right"></i>
								<% end %>
							<% end %>
						</span>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>