<div class="container chalkboard-bg">
	<br />
	<%= link_to "Add To Do", new_item_path, :class => "btn btn-success" %>
	<div class="row hidden-xs">
		<% (1..3).each do |section| %>
			<div class="col-sm-4">
				<h1 class="text-center fancytext"><%= section.name %></h1>
				<hr />
			</div>
		<% end %>
		<% @sections.each do |section| %>
			<div class="col-sm-4">
				<% @items.where(section_id: section.id).each do |item| %>
					<div class="panel panel-success">
						<div class="panel-heading">
							<h3 class="panel-title">
							<%= link_to item.title, item %>
							</h3>
						</div>
						<% unless item.description.empty? %>
							<div class="panel-body">
								<p><%= item.description %></p>
							</div>
						<% end %>
						<div class="panel-footer">
							<%= link_to 'Edit', edit_item_path(item) %> |
							<%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' } %>
							<span class="pull-right">
								<% unless item.section_id == 1 %>
									<%= link_to move_b_url(id: item.id) do %>
									    <i class="glyphicon glyphicon-arrow-left"></i>
									<% end %>
								<% end %>
								<% unless item.section_id == 3 %>
									<%= link_to move_f_url(id: item.id) do %>
									    <i class="glyphicon glyphicon-arrow-right"></i>
									<% end %>
								<% end %>
							</span>
						</div>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
	<div class="row visible-xs">
		<% @sections.each do |section| %>
			<div class="col-xs-12">
				<h1 class="text-center fancytext"><%= section.name %></h1>
				<hr />
			</div>
			<div class="col-xs-12">
				<% @items.where(section_id: section.id).each do |item| %>
					<div class="panel panel-success">
						<div class="panel-heading">
							<h3 class="panel-title">
							<%= link_to item.title, item %>
							</h3>
						</div>
						<% unless item.description.empty? %>
							<div class="panel-body">
								<p><%= item.description %></p>
							</div>
						<% end %>
						<div class="panel-footer">
							<%= link_to 'Edit', edit_item_path(item) %> |
							<%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' } %>
							<span class="pull-right">
								<% unless item.section_id == 1 %>
									<%= link_to move_b_url(id: item.id) do %>
									    <i class="glyphicon glyphicon-arrow-up"></i>
									<% end %>
								<% end %>
								<% unless item.section_id == 3 %>
									<%= link_to move_f_url(id: item.id) do %>
									    <i class="glyphicon glyphicon-arrow-down"></i>
									<% end %>
								<% end %>
							</span>
						</div>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>

	<% if @items.empty? %>
		<span class="pull-left">
			<%= image_tag('arrow.png') %>
		</span>
		<h2 class="fancytext"><span>Sorry there are no items yet. Add your first item</span></h2>
	<% end %>
</div>
